<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.a2r.animales"
    android:installLocation="preferExternal"
    android:versionCode="135"
    android:versionName="1.35" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconanimaleschilterra"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="API_KEY" />

        <activity
            android:name=".Aplicaciones"
            android:label="Aplicaciones" >
        </activity>
        <activity
            android:name=".BajaGanado"
            android:label="@string/title_activity_baja_ganado" >
        </activity>
        <activity
            android:name="cl.a2r.custom.Calculadora"
            android:label="@string/title_activity_calculadora" >
        </activity>
        <activity
            android:name=".Logs"
            android:label="@string/title_activity_logs" >
        </activity>
        <activity
            android:name=".Partos"
            android:label="@string/title_activity_partos" >
        </activity>
        <activity
            android:name=".Baston"
            android:label="@string/title_activity_baston" >
        </activity>
        <activity
            android:name=".Candidatos"
            android:label="@string/title_activity_candidatos" >
        </activity>
        <activity
            android:name=".Areteos"
            android:label="@string/title_activity_areteo" >
        </activity>
        <activity
            android:name=".Traslados"
            android:label="@string/title_activity_traslados" >
        </activity>
        <activity
            android:name=".TrasladosSalida"
            android:label="@string/title_activity_traslados_salida" >
        </activity>
        <activity
            android:name=".TrasladosSalidaDiios"
            android:label="@string/title_activity_traslados_salida_diios" >
        </activity>
        <activity
            android:name=".TrasladosLogs"
            android:label="@string/title_activity_traslados_logs" >
        </activity>
        <activity
            android:name=".TrasladosConfirmacion"
            android:label="@string/title_activity_traslados_confirmacion" >
        </activity>
        <activity
            android:name=".TrasladosConfirmacionDiios"
            android:label="@string/title_activity_traslados_confirmacion_diios" >
        </activity>
        <activity
            android:name=".Salvatajes"
            android:label="@string/title_activity_salvataje" >
        </activity>
        <activity
            android:name=".SalvatajeDiios"
            android:label="@string/title_activity_salvataje_diios" >
        </activity>
        <activity
            android:name=".PredioLibreLobby"
            android:label="@string/title_activity_predio_libre_lobby" >
        </activity>
        <activity
            android:name=".PredioLibreDiio"
            android:label="@string/title_activity_predio_libre" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PredioLibreLogsTB"
            android:label="@string/title_activity_object_logs" >
        </activity>
        <activity
            android:name=".PredioLibreLogsBR"
            android:label="@string/title_activity_predio_libre_logs_br" >
        </activity>
        <activity
            android:name="cl.a2r.custom.CalculadoraAsync"
            android:label="CalculadoraAsync" >
        </activity>
    </application>

</manifest>
