<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<servlet>
  <servlet-name>WSAutorizacion</servlet-name> 
  <servlet-class>cl.a2r.sip.servlet.WSAutorizacion</servlet-class> 
  </servlet>
<servlet>
  <servlet-name>WSBajas</servlet-name> 
  <servlet-class>cl.a2r.sip.servlet.WSBajas</servlet-class> 
  </servlet>
  <servlet>
  <servlet-name>WSGanado</servlet-name> 
  <servlet-class>cl.a2r.sip.servlet.WSGanado</servlet-class> 
  </servlet>
  <servlet>
  <servlet-name>WSPartos</servlet-name> 
  <servlet-class>cl.a2r.sip.servlet.WSPartos</servlet-class> 
  </servlet>
  <servlet>
  <servlet-name>WSAreteos</servlet-name> 
  <servlet-class>cl.a2r.sip.servlet.WSAreteos</servlet-class> 
  </servlet>
  <servlet>
  <servlet-name>WSTraslados</servlet-name> 
  <servlet-class>cl.a2r.sip.servlet.WSTraslados</servlet-class> 
  </servlet>
  <servlet>
  <servlet-name>WSMedicion</servlet-name> 
  <servlet-class>cl.a2r.sip.servlet.WSMedicion</servlet-class> 
  </servlet>
  <servlet>
  <servlet-name>WSPredioLibre</servlet-name> 
  <servlet-class>cl.a2r.sip.servlet.WSPredioLibre</servlet-class> 
  </servlet>
  <servlet>
  <servlet-name>WSEcografias</servlet-name> 
  <servlet-class>cl.a2r.sip.servlet.WSEcografias</servlet-class> 
  </servlet>  
  <servlet>
  <servlet-name>WSSecados</servlet-name> 
  <servlet-class>cl.a2r.sip.servlet.WSSecados</servlet-class> 
  </servlet>
  <servlet>
  <servlet-name>WSRB51</servlet-name> 
  <servlet-class>cl.a2r.sip.servlet.WSRB51</servlet-class> 
  </servlet>  
  <servlet>
  <servlet-name>WSAuditoria</servlet-name> 
  <servlet-class>cl.a2r.sip.servlet.WSAuditoria</servlet-class> 
  </servlet>    
 <servlet-mapping>
  <servlet-name>WSAutorizacion</servlet-name> 
  <url-pattern>/WSAutorizacion</url-pattern> 
  </servlet-mapping>
 <servlet-mapping>
  <servlet-name>WSBajas</servlet-name> 
  <url-pattern>/WSBajas</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>WSGanado</servlet-name> 
  <url-pattern>/WSGanado</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>WSPartos</servlet-name> 
  <url-pattern>/WSPartos</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>WSAreteos</servlet-name> 
  <url-pattern>/WSAreteos</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>WSTraslados</servlet-name> 
  <url-pattern>/WSTraslados</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>WSMedicion</servlet-name> 
  <url-pattern>/WSMedicion</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>WSPredioLibre</servlet-name> 
  <url-pattern>/WSPredioLibre</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>WSEcografias</servlet-name> 
  <url-pattern>/WSEcografias</url-pattern> 
  </servlet-mapping> 
  <servlet-mapping>
  <servlet-name>WSSecados</servlet-name> 
  <url-pattern>/WSSecados</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>WSRB51</servlet-name> 
  <url-pattern>/WSRB51</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>WSAuditoria</servlet-name> 
  <url-pattern>/WSAuditoria</url-pattern> 
  </servlet-mapping>     
 <session-config>
  <session-timeout>30</session-timeout> 
  </session-config>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file> 
  </welcome-file-list>
</web-app>